
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calcular</title>
</head>
<body>
    <div> 
        <h2><font color="Blue">Calcular Numeros</font></h2>
        <form action="NumerosCalcular" method="post">
            <label>Ingrese un numero</label>
            <br />
            <input type="text" name="num_1" value="" />
            <br />
            <label>Ingrese otro numero</label>
            <br />
            <input type="text" name="num_2" value="" />
            <br />
            <br />
            <input type="submit" name="Resultado" value="Calcular" />
        </form>
    </div>
</body>
</html>
