
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="~/Operaciones/Fal">Multiplicacion y division</a>
        <br />
        <a href="~/Operaciones/Suma">Ver suma</a>
        <form action="Resta" method="post">
            <label>Valor 1</label>
            <br />
            <input type="text" name="valor1" value="" />
            <br /><br />
            <label>Valor 2</label>
            <br />
            <input type="text" name="valor2" value="" />
            <br /> <br />
            <input type="submit" name="Resultado" value="Restar" />

        </form>
    </div>
</body>
</html>
