
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resta</title>
</head>
<body>
    <div> 
        La resta entre @Model.Variable_A <br />
        menos @Model.Variable_B es @Model.Resultado
        <a href="~/Operaciones/Index">Volver</a>
    </div>
</body>
</html>
