
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suma</title>
</head>
<body>
    <div> 
        <a href="~/Operaciones/Index">Hacer una Resta</a>
        <br />
        <a href="~/Operaciones/Fal">Multiplicacion y division</a>
        <br /><br />
       <h1>@ViewData["Resultado"]</h1> 
    </div>
</body>
</html>
