
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deportista</title>
</head>
<body>
    <div> 
        <h2><font color="Blue">Calcular Datos para entrar al equipo de baloncesto</font></h2>
        <form action="Deportis" method="post">
            <label>Ingrese su Edad</label>
            <br />
            <input type="text" name="eda" value="" />
            <br />
            <label>Ingrese su Estatura</label>
            <br />
            <input type="text" name="esta" value="" />
            <br />
            <label>Ingrese su Peso</label>
            <br />
            <input type="text" name="pes" value="" />
            <br /> <br />
            <input type="submit" name="Resultado" value="Calcular" />
        </form>
        <br /> <br />
        
    </div>
</body>
</html>
